{% extends 'promanagerindex.html' %}
{% load static %}
{% block content %}

<style>
  table tr[data-href] {
    cursor: pointer;
  }
</style>

<div class="row pt-3">
  <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">New Projects</div>
</div>
<div class="row mt-4">

  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h4> Projects</h4><br>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <form>
              <div class="input-group input-group-sm mb-3">
                <input type="text" class="form-control" id="myInput" onkeyup="myFunction()"
                  placeholder="Search for names.." title="Type in a name" style="color:white;">
              </div>
            </form>
          </div>
        </div>

        <!-- table start hear -->

        <div class="table-responsive">
          <table class="table " id="myTable">
            <thead>

              <tr>
                <th> Project Name </th>
                <th> Start Date </th>
                <th> End Date </th>
                <th> Status </th>

              </tr>
            </thead>
            <tbody>

              <tr data-href="projectmanager_description">
                <td>
                  <img src="{% static '/assets/images/faces/face1.jpg' %}" alt="image" />
                  <span class="ps-2">Henry Klein</span>
                </td>
                <td> 04 feb 2022 </td>
                <td> 10 feb 2022 </td>
                <td>
                  <div class="badge badge-outline-success">Approved</div>
                </td>
              </tr>
              <tr data-href="projectmanager_description">
                <td>
                  <img src="{% static '/assets/images/faces/face2.jpg' %}" alt="image" />
                  <span class="ps-2">Kenry Klein</span>
                </td>
                </td>
                <td> 04 feb 2022 </td>
                <td> 10 feb 2022 </td>
                <td>
                  <div class="badge badge-outline-success">Approved</div>
                </td>
              </tr>
              <tr data-href="projectmanager_description">
                <td>
                  <img src="{% static '/assets/images/faces/face3.jpg' %}" alt="image" />
                  <span class="ps-2">Menry Klein</span>
                </td>
                </td>
                <td> 04 feb 2022 </td>
                <td> 10 feb 2022 </td>
                <td>
                  <div class="badge badge-outline-success">Approved</div>
                </td>
              </tr>
              <tr data-href="projectmanager_description">
                <td>
                  <img src="{% static '/assets/images/faces/face4.jpg' %}" alt="image" />
                  <span class="ps-2">Penry Klein</span>
                </td>
                </td>
                <td> 04 feb 2022 </td>
                <td> 10 feb 2022 </td>
                <td>
                  <div class="badge badge-outline-success">Approved</div>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="{% static '/assets/images/faces/face5.jpg' %}" alt="image" />
                  <span class="ps-2">Aenry Klein</span>
                </td>
                </td>
                <td> 04 feb 2022 </td>
                <td> 10 feb 2022 </td>
                <td>
                  <div class="badge badge-outline-danger" data-toggle="modal" data-target="#myModal" style="width:80px">
                    Rejected</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

<!-- Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="col-12 grid-margin stretch-card bg-dark text-light modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Reason</h4>
        <button type="button" style="border:none;background-color: transparent;color: white" class="close"
          data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <div class="card">
          <div class="card-body">
            <div class="row" <label class="col-12 grid-margin stretch-card  text-light" style="background-color: dark-grey;
                    " rows="6">This reported issue has been replied by manager and the printing and typesetting
              industry. This cannot has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
              centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</label>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>
  <!-- modal end -->


  <script>


    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }


    document.addEventListener("DOMContentLoaded", () => {
      const rows = document.querySelectorAll("tr[data-href]");
      rows.forEach(row => {
        row.addEventListener("click", () => {
          window.location.href = row.dataset.href;
        });
      });
    });

  </script>

  {% endblock %}